version: '3.8'

services:
  timescaledb:
    image: timescale/timescaledb-ha:pg14-latest
    environment:
      POSTGRES_DB: property_finder
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - timescaledb_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - timescaledb
      - rabbitmq
    environment:
      DATABASE_URL: postgresql://user:password@timescaledb:5432/property_finder
      RABBITMQ_URL: amqp://user:password@rabbitmq:5672/

volumes:
  timescaledb_data:
